@require 'settings/breakpoints'

.HealthReimbursements__figure
    display inline-block

.HealthReimbursements__transactionsList
    +medium-screen('min')
        border-top: 1px solid var(--silver)

.HealthReimbursements__title
    line-height 56px
    margin-top 24px

    +small-screen()
        margin-top 16px
