.content
    margin-left -1.5em
    width calc(100% + 3em)
    border-top 1px solid silver

.row
    border-bottom 1px solid silver

.buttonIcon
    margin 0
    padding 0 .5rem 0 0
    border 0
    cursor pointer
    background-color transparent
