.content
    margin-left -1.5em
    width calc(100% + 3em)
    border-top 1px solid silver

.row
    border-bottom 1px solid silver

    &:hover
        background-color pale-grey
        cursor pointer

.buttonIcon
    padding-right .5rem
    cursor pointer
