.Tooltip
    position absolute
    background-color white
    color dodgerBlue
    border-radius 2px
    font-size 0.6875rem
    padding-left 2px
    padding-right 2px
    line-height 1.45
    white-space nowrap

    // &::after
    //     content ''
    //     position absolute
    //     top 100%
    //     right 2px
    //     border 3px solid transparent
    //     border-top-color white
