{
  "env": { "jasmine": true },
  "extends": ["cozy-app/react"],
  "globals": {
    "jest": true
  },
  "rules": {
    "no-use-before-define": "error"
  },
  "settings": {
    "react": {
      "version": "16.2"
    }
  }
}
