{
  "env": { "es6": true, "jasmine": true },
  "parser": "babel-eslint",
  "extends": ["standard", "standard-jsx"],
  "rules": {
    "react/jsx-wrap-multilines": 2,
    "react/react-in-jsx-scope": 2
  },
  "globals": {
    "jest": true
  }
}
