@import 'cozy-ui'

.bnk-figure-wrapper
    font-size       em(32px)
    color           charcoal-grey

    .bnk-figure-label
        display         block
        margin-bottom   .5em
        color           cool-grey
        text-transform  uppercase
        font-size       em(12px)

@media (max-width: (768/basefont)rem)
    .bnk-figure-wrapper
        font-size em(32px)

        .bnk-figure-label
            font-size em(12px)
