@require 'cozy-ui'

.bnk-figure-wrapper
    color charcoal-grey

    .bnk-figure-label
        color cool-grey
        margin 0
        text-transform uppercase
        font-size em(12px)
        line-height em(16px)

    .bnk-figure
        font-size em(32px)
        line-height em(42px)

@media (max-width: (768/basefont)rem)
    .bnk-figure-wrapper
        font-size .7em
