@import 'cozy-ui'

.bnk-figure-total
    font-weight    900

.bnk-figure-currency
    margin-left .2em
    color       cool-grey

.bnk-figure-content--positive
    color   emerald

    .bnk-figure-currency
        color   emerald

.bnk-figure-content--negative
    color   pomegranate

    .bnk-figure-currency
        color   pomegranate
