@require 'settings/breakpoints'

.FigureBlock
    color charcoalGrey

.FigureBlock-label
    color coolGrey
    margin 0
    text-transform uppercase
    font-size 0.75rem
    line-height 1rem

.FigureBlock-figure
    font-size 2rem
    line-height 2.625rem

+small-screen()
    .FigureBlock
        font-size .7em

    .FigureBlock-figure
        padding-bottom 0.5rem
