@require 'settings/breakpoints'

.default
    &.Figure-currency
        color       coolGrey

    &.Figure-content--positive
        color   emerald

        .Figure-currency
            color   emerald

    &.Figure-content--negative
        color   pomegranate

        .Figure-currency
            color   pomegranate

    &.Figure-content--warning
        color   texasRose

        .Figure-currency
            color   texasRose

.primary
    color white

.Figure-total
    font-weight    900

.Figure__currency--withSpacing
    margin-left .2em

.Figure--big
    font-size 2rem
    line-height 2.625rem

+small-screen()
    .Figure--big
        font-size 1.5rem
        line-height 1.75rem
