@require 'components/popover.styl'

.c-menu
    position relative
    display  inline-block

.c-menu-inner
    display    none
    position   absolute
    @extend    $popover
    right      0
    padding    5px 0
    margin     0
    margin-top 1px
    min-width  220px

.c-menu__inner--opened
    display block

.c-menu__btn
    font-size 1rem
    border 0

.c-menu__btn:not([disabled]):not([aria-disabled=true]):hover
.c-menu__btn:not([disabled]):not([aria-disabled=true]):active
.c-menu__btn:not([disabled]):not([aria-disabled=true]):focus
    background transparent
