@require 'settings/palette.styl'
@require 'tools/mixins'

.infos
    background paleGrey
    display flex
    align-items center
    background-color #fff2f2

.infos--icon
    width rem(16)
    height rem(16)
    padding-top: 0.2em

.infos--content
    width 100%
    text-align left

.infos--container
    display flex
    width 100%

.infos--title
    color #f52d2d
