@require 'components/button.styl'
@require 'components/popover.styl'

.fil-actionmenu
    @extend        $popover
    z-index        $file-action-menu
    position       fixed
    bottom         0.5625rem
    left           0
    width          "calc(100% - %s)" % 1rem
    margin         0 0.5rem
    padding-bottom 0.3125rem

    &.with-transition
        transition transform .1s ease-out

    hr
        margin-top 0

.fil-actionmenu-header
    padding     1.25rem 1.5rem 1.25rem 1.25rem
    font-size   16px
    font-weight bold

.fil-actionmenu-file
    margin-left   1.1875rem
    padding-left  2.8125rem
    background-position 0 center
    background-repeat no-repeat

.fil-toolbar-more-btn
    @extends $button--secondary
    @extends $button--more
    border-width 0

.menu-header
    font-size 0.8em
    display flex
    padding 0

    .menu-header-left
        flex 1 1 auto
        padding 1rem 0 1em 1em

        h3
            align-self bottom
            margin 0
            font-size 1.2em
            margin-bottom 0.375rem

        span
            font-size 1em
            align-self top
            color cool-grey
            text-transform capitalize

    .menu-header-right
        font-size 1.1em
        flex 0 1 auto
        padding 1rem 1rem 1rem 0.5rem

.action-bill
    background embedurl('../../../assets/icons/actions/icon-file.svg') 1rem center no-repeat
.action-attach
    background embedurl('../../../assets/icons/actions/icon-link.svg') 1rem center no-repeat
.action-comment
    background embedurl('../../../assets/icons/actions/icon-comment.svg') 1rem center no-repeat
.action-app
.action-refund
    background embedurl('../../../assets/icons/actions/icon-link-out.svg') 1rem center no-repeat
.action-alert
    background embedurl('../../../assets/icons/actions/icon-bell-16.svg') 1rem center no-repeat
