@require 'tools/mixins'
@require 'settings/breakpoints'

+small-screen()
    .Topbar
        display     flex
        align-items center
        overflow hidden

        h2
            font-size 1.3125rem
            margin-bottom 0
