@require '~styles/breakpoints.styl'
@require '~ducks/filters/SelectDates.styl'

.bnk-mov-page
    +small-screen()
        // SelectDate is fixed on mobile so we need to add some
        // padding
        padding-top select-date-height-small

.bnk-mov-figures
    margin          1em 0
    display         flex
    flex-direction  row
    flex-wrap       wrap

    > div
        margin 0 1em 1em 0
        flex 1

        +medium-screen()
            &
                margin 0
                flex-basis 50%
