.TransactionModalHeading
    text-align center
    padding-top 4px

.TransactionModalContent
    padding 0

    &:last-child
        padding 0

.TransactionModalSeparator
    margin-top 0
    margin-bottom 0
    border 0
    border-top 1px solid silver

.TransactionModalRow
    padding-left 24px
    padding-right 24px
    min-height 57px
    cursor pointer

.TransactionModalRow-disabled
    color coolGrey
    font-style italic
    cursor default

.TransactionModalRow-multiline
    padding-top 12px
    padding-bottom 12px

.TransactionModalRowIcon
    margin-right 24px

.TransactionModalRowIcon-alignTop
    margin-top 3px

.TransactionModalRowIcon-reversed
    transform rotate(180deg)

.TransactionLabel
    font-weight bold
    line-height 1.5
    color charcoalGrey

.TransactionInfos
    margin-top 8px

.TransactionInfo
    line-height 1.7
    font-size 14px

.TransactionInfoLabel
    display inline-block
    margin-right 8px
    color charcoalGrey

.TransactionModalCross
    width 16px
    height 16px
