.TransactionAction
    cursor pointer
    text-decoration none
    // need to reset the padding otherwise since the link
    // in a menu has a padding to account for the background-icon
    // TODO remove this padding from the ActionMenu
    padding 0 !important
    white-space inherit !important

.TransactionAction-disabled
    cursor: default

.TransactionActionMenu
    width 100%
