@require 'settings/palette.styl' // TODO remove, its components/button.styl that needed it
@require 'components/button.styl'

.fil-toolbar-more-btn
    @extends $button--secondary
    @extends $button--more
    border-width 0
