@require 'cozy-ui'
@require '../../styles/mixins.styl'
@require '../../styles/breakpoints.styl'

.bnk-op-table
    composes full-width-table from '../../components/Layout/Layout.styl'

    .bnk-op-date
        maxed-flex-basis 15%
    .bnk-op-desc
        maxed-flex-basis 30%

    .bnk-op-amount
        maxed-flex-basis 20%
        text-align right
    .bnk-op-action
        maxed-flex-basis 25%

    .bnk-op-actions
        maxed-flex-basis 10%

    .bnk-transaction-mobile
        .icon
            flex 0 0 4em
            padding-top 0
            padding-bottom 0
        .content
            flex 1 0 auto
            display flex
            align-items center
            padding-left 0
            .label
                flex 1 0 60%
            .amount
                flex 1 0 40%
                text-align right
    tbody
        .bnk-op-amount
        .bnk-op-desc
            color charcoal-grey

    +medium-screen()
        .bnk-op-desc
            cursor pointer
            maxed-flex-basis 60%
        .bnk-op-amount
            cursor pointer
            maxed-flex-basis 40%
        .bnk-op-actions
            width 150px
        .bnk-op-date
        .bnk-op-action
            display none

        tbody:last-child
            tr:last-child
                border-bottom-width 1px

        .bnk-op-date-header
            display inherit
            background-color pale-grey
            border-width 0

            td
                background-color pale-grey
                color cool-grey
                font-size em(12px)
                text-transform uppercase
                font-weight bold
                padding 0 1rem
                line-height em(16px)

    tbody
        overflow inherit!important

        .bnk-op-actions
            padding 0 2rem 0 0

            > div
                float right

// For now, all mouvements from same category use the same icon
categories = kids dailyLife educationAndTraining health homeAndRealEstate incomeCat activities excludeFromBudgetCat services tax transportation goingOutAndTravel uncategorized

// TODO use function to get each movement icon instead of category icon
getTemporaryCatBkg(categoryLabel)


for category in categories
    .bnk-table-desc--{category}
        icon = '../../assets/icons/categories/icon-cat-%s.svg' % category
        background-image embedurl(icon) // @stylint ignore

+medium-screen()
    .coz-table-body .coz-table-row
        font-size 0.8em
    .coz-table-cell.bnk-table-desc
        padding-left    4em
