.ReimbursementStatusModal__transactionLabel
    color var(--coolGrey)

.Radio
    height 3rem // Give the same height as the List row
    align-items center // Should be removed when https://github.com/cozy/cozy-ui/pull/1026 is merged
