@require 'settings/breakpoints'
@require 'settings/palette'
@require '~styles/variables.styl'

// Due to discrepancies between Chrome and Firefox in
// how select height is computed, we set it directly
select-date-height=3rem
select-date-width=20rem
select-date-height-small = 2.5rem

.SelectDates
    display flex
    white-space nowrap
    width select-date-width
    height select-date-height

    .prev-button, .next-button, .SelectDates-select
        height 100%
        margin 0

    .prev-button, .next-button
        width select-date-height
        margin 0
        padding 0

        svg
            margin-top 5px

    .SelectDates-select
        display inline
        flex 1

        select
            padding 0 1rem
            width 100%
            border-radius 0
            height 100%
            vertical-align top // corrects a 1px bug on Windows' Chrome

.SelectDates__month
    width 9rem

+small-screen()
    .SelectDates
        m = 0.75rem // size of the margin-top/bottom
        topbar-height = 3rem
        top topbar-height + m
        left content-padding-small
        right content-padding-small
        width auto
        position fixed
        background white
        z-index 2

        height select-date-height-small
        box-shadow:
            0 (m - content-padding-small) 0 content-padding-small white

        &--scrolling
            shadow-height = 2 // px but we make calculations in rem underneath

            // First box-shadow  is to cover content that is outside the component
            // Second one is to have a subtle shadow underneath the component
            box-shadow:
                0 (m - content-padding-small) 0 content-padding-small white,
                0 (m - content-padding-small + shadow-height/16) 0 content-padding-small rgba(0,0,0,.15)

        .prev-button, .next-button
            width 2.5rem

.SelectDates__Button
    cursor pointer
    color slateGrey

.SelectDates__Button--disabled
    color coolGrey
    cursor not-allowed

.SelectDates__Icon
    color slateGrey
