@require 'settings/breakpoints'

.PageTitle
    font-size 1.5rem
    margin 0 auto 2rem
    line-height 1.5

    +small-screen()
        // ellipsis
        text-overflow  ellipsis
        overflow       hidden
        white-space    nowrap
        font-size 1.3125rem
        margin    0
        overflow hidden
        position relative
        margin-bottom 0
