@require 'cozy-ui'
@require './breakpoints.styl'

.bnk-table-account
    composes full-width-table from '../ducks/commons/Layout.styl'
    & > tbody > tr > td
        font-size .85rem
        text-overflow ellipsis
        overflow hidden
        white-space nowrap

    .bnk-table-libelle
        flex-basis 25%

    .bnk-table-bank
        flex-basis 20%

    .bnk-table-number
        flex-basis 15%

    .bnk-table-type
        flex-basis 15%

    .bnk-table-shared
        flex-basis 15%

    .bnk-table-actions
        flex-basis 10%
        text-align right

+small-screen()
    .bnk-table-type
        display none

.info-table.info-table
    width 100%
    margin-bottom 1rem
    tr
        display table-row
        border-bottom 0

        td
            display table-cell

        &:hover
            background transparent

        td:first-child
            font-weight bold
            color cool-grey
            font-variant small-caps
            text-transform uppercase

.account-settings__tab-list
    composes full-width from '../ducks/commons/Layout.styl'
