@require 'cozy-ui'
@require './breakpoints.styl'

.AcnsStg
    &__accounts
        composes full-width-table from '../components/Layout/Layout.styl'

        td
            font-size .85rem
            text-overflow ellipsis
            overflow hidden
            white-space nowrap

    &__libelle
        flex-basis 25%
        composes mobile-row-main from '../components/Table/styles.styl'

    &__bank
        flex-basis 20%

    &__number
        flex-basis 15%

    &__type
        flex-basis 15%

        +small-screen()
            &
                display none

    &__shared
        flex-basis 15%

    &__actions
        flex-basis 10%
        text-align right

    &__accountRow
        composes mobile-row from '../components/Table/styles.styl'
        composes nav-row from '../ducks/commons/mobile.styl'// @stylint ignore

    &__bank, &__number
        composes mobile-row-label from '../components/Table/styles.styl'

.AcnStg
    &__tabList
        composes full-width from '../components/Layout/Layout.styl'

    +small-screen()
        &__tabList
            display flex
        &__tab
            width 100%
            text-align center

    &__info
        width 100%
        margin-bottom 1rem
        tr
            td
                border-bottom .25rem transparent solid

            &:hover
                background transparent

            td:first-child
                color cool-grey
                font-size .85rem
