@require('cozy-ui')

small-screen()
    @media (max-width: (768/basefont)rem)
        {block} // stylint: ignore

medium-screen()
    @media (max-width: (1024/basefont)rem)
        {block} // @stylint ignore
