@require 'tools/mixins.styl'

extralarge=1439
large=1200
medium=1023
small=768
tiny=543

tiny-screen(direction='max')
    @media ({direction}-width: (tiny/basefont)rem)
        {block} // @stylint ignore

small-screen(direction='max')
    @media ({direction}-width: (small/basefont)rem)
        {block} // @stylint ignore

medium-screen(direction='max')
    @media ({direction}-width: (medium/basefont)rem)
        {block} // @stylint ignore

large-screen(direction='max')
    @media ({direction}-width: (large/basefont)rem)
        {block} // @stylint ignore

extra-large-screen(direction='max')
    @media ({direction}-width: (extralarge/basefont)rem)
        {block} // @stylint ignore
