@import 'cozy-ui'

.bnk-cat-form
    display         flex
    flex-direction  row

    select
        padding-right   2em
        font-size       em(18px)
        font-weight     900

    > div
        margin          0 1em 0 0


.bnk-cat-debits
.bnk-cat-credits
    display         flex
    width           100%
    margin          .5em 0 4em
    flex-direction  row

.bnk-cat-figure
    flex           1 0 18em
    padding-left   2em
    position       relative

.bnk-cat-title
    margin          2em 0 .5em

@media (max-width: (1260/basefont)rem)
    .bnk-cat-debits
    .bnk-cat-credits
        flex-wrap       wrap
        flex-direction  column-reverse

    .bnk-cat-figure
        flex            1 0 4em
        padding-bottom  1em
