@import 'cozy-ui'

[role=application] // @stylint ignore
    @extend $table

    .bnk-categories
        width       100%

    .coz-table
        margin-left     -2em
        width           calc(100% + 2em)

    .coz-table-body
        height auto

    .coz-table-cell
    .coz-table-header
        font-size     em(14px)
        padding-right em(12px)
        padding-left  em(24px)

    .bnk-table-category
        flex            1 0 15em
        padding-left    em(36px)

    .bnk-table-operation
        flex        1 0 10em
        text-align  center

    .bnk-table-percentage
        flex        1 0 5em
        text-align  center

    .bnk-table-amount
        flex        1 0 7em
        text-align  right

    .bnk-table-actions
        flex  1 1 15em

    .coz-table-cell.bnk-table-category
        padding-left    5em
        color           black

    .coz-table-cell.bnk-table-amount
        color black

    .bnk-table-actions-link
        padding-left   2em
        padding-top    .1em
        padding-bottom .1em
        background     embedurl('../assets/icons/icon-link-out.svg') em(0px) center no-repeat

    .bnk-table-subcategories
        position    relative
        width       100%
        overflow    hidden
        &::after
            position        absolute
            content         ''
            top             0
            background      transparent
            width           calc(100% + 1em)
            height          100%
            box-shadow      0 0 3px alpha(grey-05, .5) inset
            pointer-events  none

    @media (max-width: (768/basefont)rem)
        .bnk-table-category
            flex    1 0 12em

        .bnk-table-amount
            padding-right 2em

    // All icons and classes for categories types

    categories = children daily-life education health housing income leasures out-budget services taxes transportation trips uncategorized

    getCatBkg(categoryLabel)
        icon = '../assets/icons/categories/icon-cat-%s.svg' % categoryLabel
        {background} embedurl(icon) center no-repeat

    for category in categories
        .bnk-table-category--{category}
            getCatBkg(category)
            background-position-x   em(36px)
