@import 'cozy-ui'

[role=application] // @stylint ignore
    @extend $table

    activeBkgColor = #E8F2FF

    .bnk-categories
        width       100%

    .coz-table
        margin-left     -2em
        width           calc(100% + 2em)

    .coz-table-body
        height auto

    .coz-table-row
        cursor  pointer

    .coz-table-cell
    .coz-table-header
        font-size     em(14px)
        padding-right em(12px)
        padding-left  em(24px)

    .coz-table-header
        cursor  default

    .bnk-table-row--uncollapsed
    .bnk-table-row--uncollapsed:hover
        border-top  1px solid dodger-blue
        background  activeBkgColor

        .bnk-table-chevron
            background  embedurl('../assets/icons/icon-chevron-down-active.svg') center no-repeat
            transform   rotate3d(1, 0, 0, 180deg)
            transition  all .2s


    .bnk-table-category
        flex            1 0 15em
        padding-left    em(36px)

    .bnk-table-operation
        flex        1 0 10em
        text-align  center

    .bnk-table-percentage
        flex        1 0 5em
        text-align  center

    .bnk-table-amount
        flex        1 0 7em
        text-align  right

    .bnk-table-actions
        flex  1 1 14em

    .bnk-table-chevron
        flex        0 0 2em
        background  embedurl('../assets/icons/icon-chevron-down.svg') center no-repeat
        transition  all .2s

    .coz-table-cell.bnk-table-category
        padding-left    5em
        color           black

    .coz-table-cell.bnk-table-amount
        color black

    .bnk-table-actions-link
        padding-left   2em
        padding-top    .1em
        padding-bottom .1em
        background     embedurl('../assets/icons/icon-link-out.svg') em(0px) center no-repeat

    .bnk-table-subcategories
        position    relative
        width       100%
        overflow    hidden
        &::after
            position        absolute
            content         ''
            top             0
            background      transparent
            width           100%
            height          100%
            box-sizing      border-box
            border-bottom   1px solid dodger-blue
            pointer-events  none

    @media (max-width: (768/basefont)rem)
        .bnk-table-category
            flex    1 0 12em

        .bnk-table-amount
            padding-right 2em

    // All icons and classes for categories types

    categories = children daily-life education health housing income leasures out-budget services taxes transportation trips uncategorized

    getCatBkg(categoryLabel)
        icon = '../assets/icons/categories/icon-cat-%s.svg' % categoryLabel
        {background} embedurl(icon) center no-repeat

    for category in categories
        .bnk-table-category--{category}
            getCatBkg(category)
            background-position-x   em(36px)
