@require 'cozy-ui'

.bnk-figure-wrapper
    font-size       32px
    margin-right    2.5em
    color           grey-08

    .bnk-figure-label
        display         block
        margin-bottom   .5em
        color           grey-11
        text-transform  uppercase
        font-size       12px
