@require 'cozy-ui'

.Groups__table
    composes full-width-table from '../ducks/commons/Layout.styl'

    & > tbody > tr > td
        font-size .85rem
        text-overflow ellipsis
        overflow hidden
        white-space nowrap

    tr:hover
        background transparent

    .bnk-table-libelle
        flex 0 0 30%

    .bnk-table-comptes
        flex 0 0 50%

    .bnk-table-actions
        flex 0 0 20%
        text-align right

.bnk-form
    @extend $form
    @extend $form-text

    input[type=text]
        width 100%

.coz-table-modal
    width           100%

    .bnk-table-acct-number
        color cool-grey

    .coz-table-cell
        flex 0 0 33%

        &:first-child
            padding-left 0
        &:last-child
            padding-right 0
            text-align right
