@require 'cozy-ui'

.Groups__table
    composes full-width-table from '../ducks/commons/Layout.styl'

    td
        font-size .85rem
        text-overflow ellipsis
        overflow hidden
        white-space nowrap

.bnk-table-actions
    flex 0 0 20%
    text-align right

.Accounts__table
    composes full-width-table from '../ducks/commons/Layout.styl'

.Accounts__row
    composes mobile-row from '../components/Table/styles.styl'
    composes nav-row from '../ducks/commons/mobile.styl'

.bnk-table-libelle
    flex 0 0 50%
    composes mobile-row-main from '../components/Table/styles.styl'

.bnk-table-comptes
    flex 0 0 50%
    composes mobile-row-label from '../components/Table/styles.styl'

.bnk-table-acct-number
    flex 0 0 25%

.bnk-form
    @extend $form
    @extend $form-text

    input[type=text]
        width 100%

.groupAccountLabel
    flex-basis 50%

.groupAccountNumber
    flex-basis 30%

.groupAccountToggle
    flex-basis 20%
