@require 'cozy-ui'

.Groups__table
    composes full-width-table from '../ducks/commons/Layout.styl'

    & > tbody > tr > td
        font-size .85rem
        text-overflow ellipsis
        overflow hidden
        white-space nowrap

    tr:hover
        background transparent

    .bnk-table-libelle
        flex 0 0 30%

    .bnk-table-comptes
        flex 0 0 50%

    .bnk-table-actions
        flex 0 0 20%
        text-align right

.bnk-form
    @extend $form
    @extend $form-text

    input[type=text]
        width 100%

.groupAccountLabel
    flex-basis 50%

.groupAccountNumber
    flex-basis 30%

.groupAccountToggle
    flex-basis 20%
