@require 'generic/normalize.styl'
@require 'elements/defaults.styl'
@require './utilities.styl'
@require './text.styl'
@require 'settings/breakpoints'
@require '~styles/variables.styl'
@require './palette.styl'

h4
    margin-top 0
    margin-bottom 1rem

+small-screen()
    [role='banner'][data-drawer-visible='true']
        z-index 90
