@require 'cozy-ui/defaults'
@require './spacers.styl'

h4
    margin-top 0
    margin-bottom 1rem

:global
  // Global utils classes comes here

    // to remove after update cozy-ui
    .u-hidden
        display none

    .u-ellipsis
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
