@import 'cozy-ui/defaults'
@require 'cozy-ui'

h4
    margin-top 0
    margin-bottom 1rem

:global
  // Global utils classes comes here

    // to remove after update cozy-ui
    .u-hidden
        display none
