@import 'cozy-ui'

.bnk-mov-form
    display         flex
    flex-direction  row

    select
        padding-right   2em
        font-size       em(18px)
        font-weight     900

    > div
        margin-top      .5em

.bnk-mov-figures
    margin          1em 0 2em
    display         flex
    flex-direction  row
    flex-wrap       wrap
