@import 'cozy-ui'

.bnk-mov-form
    display         flex
    flex-direction  row

.bnk-mov-figures
    margin          1em 0
    display         flex
    flex-direction  row
    flex-wrap       wrap

    > div
        margin 0 1em 1em 0
        flex 1

@media (max-width: (1023/basefont)rem)
    .bnk-mov-figures
        > div
            margin 0
            flex-basis 50%
