h4
    margin-top 0
    margin-bottom 5px

.notification
    display flex
    justify-content flex-start
    align-items center
    max-width 500px
    margin-bottom 20px

.notification-description
    color grey
    flex-grow 1
    margin 0
    font-size .9em

.notification-toggle
    font-size 1.3em
    display inline-block
    padding-left 10px

input[type="number"].notification-input
    padding .6em .4em
    margin 0 5px
    width 4em

    &.suffixed + span
        position absolute
        margin-left -1.5em
        margin-top .6em
