@require 'settings/palette.styl'

// @stylint off
body
    --primaryColorDark #0d60d1 // darken(dodgerBlue, 12)
    --headerDefaultBackgroundColor var(--white)
    --headerPrimaryBackgroundColor var(--primaryColor)
