@import 'cozy-ui'
@import './breakpoints.styl'

// Due to discrepancies between Chrome and Firefox in
// how select height is computed, we set it directly
select-date-height=3rem

.select-dates
    display inline
    white-space nowrap

.select-dates-select
    display inline
    background red

    select
        border-radius 0
        height select-date-height


+small-screen()
    .select-dates-select select
        width 160px


.prev-button, .next-button
    background transparent
    border-radius 4px
    box-sizing border-box
    border 1px solid grey-03
    padding .75em
    outline 0
    cursor pointer
    font-size 1.125rem
    height select-date-height

    &:disabled
        cursor not-allowed

    svg
        width 1rem
        height 1rem

.prev-button
    border-top-right-radius 0
    border-bottom-right-radius 0
    border-right-width 0



.next-button
    border-top-left-radius 0
    border-bottom-left-radius 0
    border-left-width 0

.next-icon
    transform rotate(180deg)
