@import 'cozy-ui'

[role=application] // @stylint ignore
    @extend $table

    activeBkgColor = #E8F2FF

    .coz-table-row
        font-size   em(14px)
        width       100%
        background  activeBkgColor
        cursor      pointer
        &:hover
            background  activeBkgColor

    .coz-table-cell.bnk-table-subcat-name
        margin-left     2em
        padding-left    em(60px) // 24px + 36px
        flex            1 0 13.5em
        color           black
        background      none

    .bnk-table-subcat-percentage
        flex        1 0 4em
        text-align  center
        white-space nowrap

    .bnk-table-subcat-operation
        flex        1 0 9em
        text-align  center

    .bnk-table-subcat-amount
        flex            1 0 6em
        padding-right   1em
        text-align      right
        color           black

    .bnk-table-actions
        flex            1 1 15.5em
        margin-right    em(26px)

    @media (max-width: (768/basefont)rem)
        .coz-table-cell.bnk-table-subcat-name
            flex            1 0 10.5em

        .bnk-table-subcat-amount
            padding-right   2.3em

    @media (max-width: (1023/basefont)rem)
        .coz-table-cell.bnk-table-subcat-name
            flex            1 0 14em

        .bnk-table-subcat-amount
            padding-right   1em
            margin-right    3em
