.toggle
    display inline-block
    width 2em
    height 1em

.checkbox
    display none

.label
    position relative
    display inline-block
    width 100%
    height 100%
    border-radius 1em
    background grey
    transition all .2s ease-out

.label:before
    position absolute
    top 0
    bottom 0
    margin auto
    left 2px
    display inline-block
    width .9em
    height .9em
    border-radius 50%
    content ''
    background white
    transition all .2s ease-out

.checkbox:checked + .label
    background green

    &:before
        left calc(100% - .9em - 2px)
