@require './spacers.styl'

:global
  // Global utils classes comes here

    // to remove after update cozy-ui
    .u-hidden
        display none

    .u-ellipsis
        white-space nowrap
        text-overflow ellipsis
        overflow hidden

