@require './spacers.styl'
@require 'settings/palette'
@require 'generic/animations'

:global
  // Global utils classes comes here

    // to remove after update cozy-ui
    .u-hidden
        display none

    .u-ellipsis
        white-space nowrap
        text-overflow ellipsis
        overflow hidden

    .u-spin
        animation  spin 1s linear infinite
        display inline-block

    .u-text-bold
        font-weight bold

    .u-hover:hover
        background paleGrey
        cursor pointer

    // to remove after https://github.com/cozy/cozy-ui/pull/399 is merged
    .u-p-0
        padding 0

    .u-m-0
        margin 0

    .u-clickable
        cursor pointer
