@require './spacers.styl'
@require 'settings/icons'

:global
  // Global utils classes comes here

    // to remove after update cozy-ui
    .u-hidden
        display none

    .u-ellipsis
        white-space nowrap
        text-overflow ellipsis
        overflow hidden

    .u-spin
        @extend $spin-anim
        display inline-block

    .u-text-bold
        font-weight bold
