@require 'cozy-ui'

.fil-toolbar-more-btn
    @extends $button--secondary
    @extends $button--more
    border-width 0


.action-bill
    background embedurl('../../assets/icons/actions/icon-file.svg') em(16px) center no-repeat
.action-attach
    background embedurl('../../assets/icons/actions/icon-link.svg') em(16px) center no-repeat
.action-comment
    background embedurl('../../assets/icons/actions/icon-comment.svg') em(16px) center no-repeat
