@import 'cozy-ui'

.bnk-table-actions-link
    cursor pointer
    padding-left   2em
    padding-top    .1em
    padding-bottom .1em
    background     embedurl('../../assets/icons/icon-link-out.svg') em(0px) center no-repeat
