@require 'settings/breakpoints'

.Title
    line-height 2.5rem
    margin 0 auto

.TitleColor_default
    color var(--black)

.TitleColor_primary
    color var(--primary-contrast-text)

+small-screen()
    .Title
        font-size 1.125rem
        line-height 1.5rem
        margin-bottom 0
