@require 'settings/breakpoints'

.Breadcrumb
    &__title
        color cool-grey

    &__crumb
        float left

    &__last &__title
        color black

    &__separator
        horizontally-padded .3em

    &__link
        cursor pointer

    +small-screen()
        width 100% // for ellipsis to work correctly
        &__crumb&__last
            width 100% // for ellipsis to work correctly
        &__crumb:not(&__last)
              display none
