@require 'settings/breakpoints'

.Breadcrumb
    margin-bottom 1rem
    &::after
        content ''
        clear left
        display block

    &__title
        color coolGrey

    &__crumb
        float left

    &__last &__title
        color black

    &__separator
        padding-left .3em
        padding-right .3em

    &__link
        cursor pointer

    +small-screen()
        width 100% // for ellipsis to work correctly
        &__crumb&__last
            width 100% // for ellipsis to work correctly
        &__crumb:not(&__last)
              display none
