.AccountsAssociationSelect
    display flex
    align-items center

    > *
        flex-grow 1
        margin-left 0.25rem
        margin-right 0.25rem

        &:first-child
            margin-left 0

        &:last-child
            margin-right 0

    & + &
        margin-top 0.5rem
