@require 'cozy-ui'
@require '../../styles/breakpoints.styl'
@require '../../styles/mixins.styl'

.GrpsStg
    &__table
        composes full-width-table from '../../components/Layout/Layout.styl'

        td
            font-size .85rem
            text-overflow ellipsis
            overflow hidden
            white-space nowrap

    &__label
        flex 0 0 50%
        maxed-flex-basis 50%
        composes mobile-row-main from '../../components/Table/styles.styl'

    &__accounts
        flex 0 0 50%
        maxed-flex-basis 50%
        composes mobile-row-label from '../../components/Table/styles.styl'

        +small-screen()
            flex-basis 100%

    &__row
        composes mobile-row from '../../components/Table/styles.styl'
        composes nav-row from '../commons/mobile.styl' // @stylint ignore

.GrpStg
    &__accntLabel
        flex-basis 50%
        maxed-flex-basis 50%

    &__accntNumber
        flex-basis 30%
        maxed-flex-basis 30%

    &__accntToggle
        flex-basis 20%
        maxed-flex-basis 20%

    &__table
        composes full-width-table from '../../components/Layout/Layout.styl'

    &__form
        @extend $form
        @extend $form-text

        input[type=text]
            width 100%
