@require '../../styles/breakpoints.styl'
@require '../../styles/variables.styl'
@require '../../styles/mixins.styl'

.bnk-coz-tab-list
    @extend $full-width
    padding-left content-padding

.bnk-tabs .bnk-coz-tab-list
    +small-screen()
        display flex
        padding-left 0

        & > *
            width 100%
            text-align center


.settings__title.settings__title
    margin-bottom 0.9375rem

    +small-screen()
        margin-bottom 0
