@require '../../styles/breakpoints.styl'
@require '../../components/Layout/Layout.styl'

.bnk-coz-tab-list
    composes full-width from '../../components/Layout/Layout.styl'
    padding-left content-padding

.bnk-tabs .bnk-coz-tab-list
    +small-screen()
        display flex
        padding-left 0

        & > *
            width 100%
            text-align center

