@require 'cozy-ui'
@require '../../styles/breakpoints.styl'

.bnk-coz-tab-list
    composes full-width from '../../ducks/commons/Layout.styl'

.bnk-tabs .bnk-coz-tab-list
    +small-screen()
        display flex

        & > *
            width 100%
            text-align center

