
h4
    color charcoalGrey
    font-size 1.2em

h5
    color charcoalGrey
    font-size 1em
    margin-top 0
    margin-bottom 5px

.ToggleRow__body
    display flex
    justify-content flex-start
    align-items center
    max-width 600px
    margin-bottom 20px

.ToggleRow__description
    color coolGrey
    flex-grow 1
    margin 0
    font-size .9em

input[type='text'].ToggleRow__input,
input[type='number'].ToggleRow__input
    padding .5em .3em
    margin 0 5px
    width 4.5em

    &.ToggleRow__input--suffixed::-webkit-inner-spin-button
    &.ToggleRow__input--suffixed::-webkit-outer-spin-button
        -webkit-appearance none

    &::-webkit-contacts-auto-fill-button
        visibility     hidden
        display        none
        pointer-events none

    &.ToggleRow__input--suffixed + span
        position absolute
        margin-left -1.5em
        margin-top .6em
