@require 'cozy-ui'
@require '../../styles/breakpoints.styl'

.coz-layout
    @extend    $app-2panes-sticky

padded-content(pad)
    padding pad

    .full-width
        margin-left -(pad)
        margin-right -(pad)

    .full-width-table
        margin-left -(pad)
        margin-right -(pad)
        width calc(100% + 2*(pad))

content-padding = 2em
content-padding-small = 1rem

.coz-content
    width 100%
    padded-content(content-padding)

    +small-screen()
        &
            padded-content(content-padding-small)

.coz-sidebar
    width            em(220px)
    border-right     1px solid silver
    background-color pale-grey

    @media (max-width: (1023/basefont)rem)
        border-top  1px solid silver
        border-left none
