@require 'cozy-ui'
@require '../../styles/breakpoints.styl'

.coz-layout
    @extend    $app-2panes-sticky

    // To move to Cozy-UI
    +small-screen()
        display block

        // Those pseudo-elements are "ghost" elements replacing bar and nav
        &:before
        &:after
            content ''
            display block
            height 3rem

        > aside
            position fixed
            bottom 0
            left 0
            display block
            z-index $nav-index

html
body
    +medium-screen()
        display block
        height auto
        overflow auto
        overflow-x hidden
// END Cozy-UI

// To move to Cozy-bar
// Double the selector to increase specificity since
// media queries do not increase specificity and we want
// to override the position: relative
[role=banner][role=banner]
    +small-screen()
        position fixed
        top 0
        left 0
        width 100%
        background-color white
// END Cozy-Bar

padded-content(pad)
    padding pad

    .full-width
        margin-left (- pad)
        margin-right (- pad)

    .full-width-table
        margin-left (- pad)
        margin-right (- pad)
        width "calc(100% + %s)" % (2 * pad)

content-padding = 2em
content-padding-small = 1rem

.coz-content
    width 100%
    padded-content(content-padding)

    +small-screen()
        &
            padded-content(content-padding-small)

    @media (max-width: (1023/basefont)rem)
        display block

.coz-sidebar
    width            em(220px)
    border-right     1px solid silver
    background-color pale-grey

    @media (max-width: (1023/basefont)rem)
        border-top  1px solid silver
        border-left none
