@require 'cozy-ui'
@require '../../styles/breakpoints.styl'

.bnk-wrapper
    @extend    $app-2panes-sticky

padded-content(pad)
    padding pad

    .full-width
        margin-left -(pad)
        margin-right -(pad)

    .full-width-table
        margin-left -(pad)
        margin-right -(pad)
        width calc(100% + 2*(pad))


.bnk-content
    padded-content(2em)

+small-screen()
    .bnk-content
        padded-content(1rem)
