@import 'cozy-ui'

.bnk-wrapper
    @extend    $app-2panes-sticky

.bnk-content
    padding 2em

    table
        width calc(100% + 4em)
        margin-left -2em

@media (max-width: (768/basefont)rem)
    .bnk-content
        padding 1em

        table
            width calc(100% + 2em)
            margin-left -1em
