@require 'settings/breakpoints'
@require 'components/nav.styl'

[role=application]// @stylint ignore
    .active
        svg
            color #297EF2

    .c-nav-item
        flex-grow 1

    .c-nav-link
        padding-left 1.5rem

        svg
            margin-right 1rem

        +small-screen()
            padding-left 0
            padding-top 0
            min-width inherit
            svg
                display block
                width 1.15rem
                height 1.15rem
                margin auto
                margin-bottom 0.25rem
