@require 'cozy-ui'
@require '../../styles/breakpoints.styl'

[role=application]// @stylint ignore
    @extend $navigation

    .active
        svg
            color #297EF2

        .onboarding &
            box-shadow 0 0 0
            font-weight normal
            color #95999d
            svg
                color inherit

    .coz-nav-link
        padding-left 1.5rem

        svg
            margin-right 1rem

        +small-screen()
            padding-top 0
            svg
                display block
                width 1.15rem
                height 1.15rem
                margin auto
                margin-bottom 0.25rem

