@require '../../styles/breakpoints.styl'

$coz-bar-size = 48px

.Topbar-title
    h2
        font-size 1.5rem
        margin 0 auto 2rem

.Topbar-left
    display none

+small-screen()
    .Topbar-title
        margin-bottom 10px
        margin-right 32px
        margin-left 32px
        display     flex
        align-items center
        margin   0
        text-overflow  ellipsis
        overflow       hidden
        white-space    nowrap
        line-height    1

        h2
            font-size 1.3em
            margin    0
            margin-left 1rem

    .Topbar-left
        width 40px
        overflow hidden
        display block
        box-sizing border-box
