@require '~styles/breakpoints.styl'

$coz-bar-size = 48px

.Topbar-title
    h2
        font-size 1.5rem
        margin 0 auto 2rem

+small-screen()
    .Topbar-title
        display     flex
        align-items center
        overflow hidden

        h2
            // ellipsis
            text-overflow  ellipsis
            overflow       hidden
            white-space    nowrap
            font-size 1.3125rem
            margin    0
            overflow hidden
