.EditableLabel
    // customize Mui styles to implement a small size
    legend
        display inherit

    input
        padding 8px
        padding-right 4px

    > div
        padding-right 4px

.FixedLabel
    display flex
    align-items center
    gap 8px
    