@require 'settings/breakpoints'

.AccountRow
    display grid
    grid-template-columns 1fr auto
    grid-column-gap 21px
    height 4rem
    align-items center
    padding-left 1rem
    padding-right 0.5rem
    background-color white
    color var(--charcoalGrey)
    cursor pointer

    +small-screen('min')
        grid-template-columns 2fr 1fr 1fr 1fr
        grid-column-gap 67px

    & + &
        border-top 0.0625rem solid var(--silver)

.AccountRow__figure
    font-size 0.875rem
    font-weight normal
    color inherit

.AccountRow__column
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    display flex
    align-items center

.AccountRow__column--secondary
    font-size 0.875rem
    color var(--coolGrey)

.AccountRow__label
    text-overflow ellipsis
    overflow hidden
    line-height 1.25
    margin-bottom 0.125rem

.AccountRow--hasWarning
    .AccountRow__figure
        color var(--texasRose)

.AccountRow--hasAlert
    .AccountRow__figure
        color var(--pomegranate)

.AccountRow__updatedAt
    font-size 0.75rem
    color var(--coolGrey)
    line-height 1.5

.AccountRow__updatedAt--old
    color var(--pomegranate)

.AccountRow__updatedAtIcon
    vertical-align top
    margin-right 0.25rem

.AccountRow__labelUpdatedAtWrapper
    flex 1
    overflow hidden

.AccountRow__logo
    flex-basis 1.5rem
    flex-shrink 0
    flex-grow 0
    max-height 1.5rem
    margin-right 1rem

    +small-screen('min')
        margin-right 1.6875rem

.AccountRow__figureSwitchWrapper
    display flex
    justify-content flex-end
    overflow initial // let the switch have a big click area

.AccountRow--disabled
    color var(--coolGrey)

    .AccountRow__logo
        opacity 0.5
