@require 'settings/breakpoints'

.AccountsList
    flex 1
    margin 0
    padding-left 0
    list-style none

.AccountsListItem
    display grid
    grid-template-columns 1fr auto
    grid-column-gap 21px
    height 4rem
    align-items center
    border-top 0.0625rem solid var(--silver)
    padding-left 1rem
    padding-right 0.5rem
    background-color white
    color var(--charcoalGrey)
    cursor pointer

    +small-screen('min')
        grid-template-columns 3fr 1fr 1fr 1fr
        grid-column-gap 67px

.AccountsListItem__figure
    font-size 0.875rem
    font-weight normal
    color inherit
    justify-self end

.AccountsListItem__column
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.AccountsListItem__column--secondary
    font-size 0.875rem
    color var(--coolGrey)
