.GroupPanelSummary__content
    display flex
    flex 1
    justify-content space-between

    &::before
        content ''
        position absolute
        background-color transparent
        left 36px
        top 0
        right 0
        bottom 0

.GroupPanelSummary__figureCurrency
    color inherit
