.NoAccount
    height calc(50vh - 48px)
    background var(--primaryColor)
    color var(--primaryContrastTextColor)
    text-align center
    position relative
    display flex
    flex-direction column
    flex-shrink 0


.NoAccount_center
    display flex
    flex-direction column
    justify-content center
    flex-grow 1

.NoAccount_addButton
    position absolute
    bottom -24px
    left 0
    right 0
    margin 0 1rem
    width calc(100vw - 2rem)

.NoAccount_chart
    height 100px
