.back-button button, .back-button a
    padding 0
    margin 0
    width 100%
    height 100%
    background embedurl('../../assets/icons/icon-arrow-left.svg') center no-repeat
    display block

.back-button button
    border none
