@require '../../styles/breakpoints.styl'

.Onboarding
    margin-left auto
    margin-right auto

    h2
        text-align center
        margin 3rem 0

    h3
        margin-bottom 0

    p
        line-height 1.25

    &__sections
        display flex
        justify-content space-around

        +small-screen()
            flex-direction column
            align-items center

    &__section
        max-width 18.75rem
        text-align center

        +small-screen()
            max-width auto

            &:nth-child(2), &:nth-child(3)
                display none

    &__connect
        text-align center

    &__loading
        margin 0 auto
