@require '../../styles/breakpoints.styl'

.Onboarding
    h2
        text-align center

    &__sections
        display flex
        justify-content space-around

        +small-screen()
            flex-direction column
            align-items center

    &__section
        max-width 18.75rem
        text-align center

        +small-screen()
            max-width auto

    &__icon
        width 100px

    &__connect
        text-align center
