@require 'cozy-ui'
@require '../../styles/mixins.styl'

.balance-table
    composes full-width-table from '../../components/Layout/Layout.styl'

.balance
    .kpi
        margin 0 0 1em 0
    .balance-table
        .account_name
            maxed-flex-basis 40%
        .solde
            maxed-flex-basis 20%
            text-align right
        .bank_name
            maxed-flex-basis 20%
        .account_number
            maxed-flex-basis 20%

        tbody
            .solde
            .account_name
                color charcoal-grey

                &.alert
                    font-weight bold
                    color pomegranate

                    span
                        margin-left 5px
                        heigth 1rem

                        &:before
                            vertical-align middle
                            margin-bottom 3px

@media (max-width: (768/basefont)rem)
    .balance
        table
            .account_name
                maxed-flex-basis 60%
            .solde
                maxed-flex-basis 40%
            .bank_name
                display none
            .account_number
                display none
