.HistoryChart
    overflow-y auto
    background-color dodgerBlue
    margin 0

.History .HistoryChart
    padding-bottom .5rem

.HistoryChartTooltip
    display flex

.HistoryChart__tooltipBalance
    font-weight bold
    border-left 1px solid dodgerBlue
    padding-left 4px
    margin-left 4px
