@require '~styles/mixins.styl'

.History
    background-color dodgerBlue
    padding-top: 1.5rem
    padding-bottom: 1.5rem
    text-align center
    color white
    margin-left -2rem
    margin-right -2rem

    +small-screen()
        margin-left -1rem
        margin-right -1rem
        margin-top -1rem

.History__currentBalance
    text-align center
    font-size 1.5rem

.History__currentBalanceCurrency
    color inherit

.History__subtitle
    margin-top 0.25rem
    text-transform uppercase
    font-size 0.85rem
    font-weight bold
    color #a2c4f9

.History__chartContainer
    overflow-y auto
