@require '~styles/mixins.styl'
@require '~styles/variables.styl'

.HistoryChart
    padding-bottom .5rem
    overflow-y auto
    background-color dodgerBlue
    @extend $full-width

    +small-screen()
        margin-top (- content-padding-small)

.History .HistoryChart
    margin-left 0
    margin-right 0
    margin-top 0

.HistoryChartTooltip
    display flex

.HistoryChart__tooltipBalance
    font-weight bold
    border-left 1px solid dodgerBlue
    padding-left 4px
    margin-left 4px
