.GroupPannelSummary__figure
    padding-right 0 !important

.GroupPannelSummary__figureCurrency
    color inherit

.AccountsList
    flex 1
    margin 0
    padding-left 0
    list-style none

.AccountsList__item
    display flex
    height 4rem
    align-items center
    justify-content space-between
    border-top 0.0625rem solid var(--silver)
    padding-left 1rem
    padding-right 0.5rem
    background-color white
    color var(--charcoalGrey)

.AccountsList__itemFigure
    font-size 0.875rem
    font-weight normal
    color inherit
