.TextCard
  display inline-block
  border 1px solid var(--silver)
  box-shadow 0 0 10px rgba(0,0,0,0.1)
  padding 0.375em
  margin-bottom 0.375em


.TextCard input[type=text]
    cursor pointer
    width auto
    border 0
    padding 0
