@require 'settings/breakpoints'
@require '~styles/utilities'

.Padded
    padding 1.5rem 2rem

    +breakpoint-screen()
        padding 1rem

.Unpadded--vertical
    margin-top -1.5rem
    margin-bottom -1.5rem

    +breakpoint-screen()
        margin-top -1rem
        margin-bottom -1rem

.Unpadded--horizontal
    margin-left -2rem
    margin-right -2rem

    +breakpoint-screen()
        margin-left -1rem
        margin-right -1rem
