<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cozy.bank.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cozy Bank</name>
    <description>
        Cozy Bank
    </description>
    <author email="contact@cozycloud.cc" href="https://cozy.io">Cozy Cloud</author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <engine name="android" spec="6.1.2" />
    <platform name="android">
        <preference name="StatusBarBackgroundColor" value="#D6D8DA" />
        <allow-intent href="market:*" />
    </platform>
    <engine name="ios" spec="4.3.1" />
    <platform name="ios">
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarStyle" value="default" />
        <preference name="Suppresses3DTouchGesture" value="true" />
        <preference name="DisallowOverscroll" value="true" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
</widget>
