
.menu-backdrop
    position   fixed
    z-index    $overlay
    top        0
    right      0
    bottom     0
    left       0
    display    block
    background rgba(50, 54, 63, 0.5)
    opacity 0.7
