{{#extend "bank-layout"}}
  {{#content "emailTitle"}}
      Alerte Soldes de compte
  {{/content}}
  {{#content "emailSubtitle"}}
    {{ date }}
  {{/content}}

  {{#content "content"}}
    {{#each institutions as |institution| }}
      <mj-section css-class="account" padding-top="0" padding-bottom="10px">
        <mj-column>
          <mj-text padding-top="0" padding-bottom="0">
            <h3>{{ institution.name }}</h3>
          </mj-text>
          {{#each institution.accounts as |account|}}
            <mj-table>
            <tr class="account">
              <td><span>{{ capitalize this.label }}</span></td>
              <td width="150px" align='right'><span>{{ colored this.amount }}</span></td>
            </tr>
            </mj-table>
              {{#unless @last}}<mj-divider padding-bottom="0" padding-top="0" border-width="1px" border-color="#d6d8da" />{{/unless}}
          {{/each }}
        </mj-text>
        </mj-column>
      </mj-section>
    {{/each}}
  {{/content}}
{{/extend}}
