<mj-table>
<tr class="transaction">
  <td width="40px"><img style="width: 32px; height: 32px" src='https://files.cozycloud.cc/bank/email-assets/icons/{{ this.categoryId }}.png' /></span></td>
  <td><span>{{ capitalize this.label }}</span></td>
  <td width="150px" align='right'><span>{{ colored this.amount }}</span></td>
</tr>
</mj-table>
