@require 'cozy-ui'

.wizard
    display flex
    flex-direction column
    min-height 100vh
    width   85vw
    padding 0 7.5vw
    background-color white
    color            black
    text-align center

    .wizard-header
        display         flex
        flex-direction  row
        margin-top      2em
        justify-content flex-start

        .skipLink
            padding         .5em
            cursor          pointer
            text-transform  uppercase
            text-align      right
            color           #95999d
            margin-left     auto

        button
            background none
            border 0

        .button-previous
            width      2em
            height     2em
            cursor     pointer
            background-size contain
            background-position center
            background-repeat no-repeat

            &.--arrow
                background-image embedurl("./assets/icons/icon-arrow-grey.svg")

    .logo-wrapper
        max-width     3.5em
        height        3.5em
        margin        .5em auto 3em auto
        padding       1.25em
        border-radius 50%
        box-shadow    0 1px 3px rgba(50, 54, 63, .19), 0 4px 12px rgba(50, 54, 63, .12)

        &.error
            background #f52d2d

    .illustration
        margin .5em auto
        height 14em
        background-size contain

    .illustration-waiting
        max-width em(150px)
        margin 50% auto 10%

    .wizard-main
        margin auto
        padding 0 .5em

    .title
        margin    .25em auto
        font-size 1.5em

    .description
        text-align center
        margin     .5em 0
        font-size  em(18px)
        max-width  25em

    .input
        width            100%
        border           none
        padding .5em .2em
        font-size        em(22px)
        background-color white


        &::placeholder
            color   charcoal-grey
            opacity .5

        &.error
            color pomegranate

    .wizard-footer
        display flex
        flex-direction column
        margin-bottom 1.5em

        > .link
            margin          1.5em .5em 0
            text-align      center
            text-decoration none
            color           dodger-blue
            text-transform uppercase

.select-server
    .description
        text-align left

.welcome .logo-wrapper,
.select-server .logo-wrapper
    background dodger-blue

// ASSETS
.cozy-logo-white
    height  3.5em
    background embedurl("./assets/icons/icon-cozy.svg") center no-repeat
    background-size contain
