darkblue=#32363f

.account-sharing-tooltip
    :global
        .react-hint__content
            background darkblue

    &:global(.react-hint--top)::after
        border-top-color darkblue
    &:global(.react-hint--bottom)::after
        border-bottom-color darkblue
    &:global(.react-hint--left)::after
        border-left-color darkblue
    &:global(.react-hint--right)::after
        border-right-color darkblue

