@require 'settings/palette'

.account-sharing-tooltip
    :global
        .react-hint__content
            background charcoalGrey

    &:global(.react-hint--top)::after
        border-top-color charcoalGrey
    &:global(.react-hint--bottom)::after
        border-bottom-color charcoalGrey
    &:global(.react-hint--left)::after
        border-left-color charcoalGrey
    &:global(.react-hint--right)::after
        border-right-color charcoalGrey
