@import 'cozy-ui'

.coz-table
    position        relative
    display         flex
    flex-direction  column
    flex            1 1 100%
    text-align      left
    color           grey-11
    margin-bottom 3em

    thead
        flex 0 0 em(31px, 16px)

        td, th
            padding         em(8px, 12px) em(32px, 12px) // @stylint ignore
            font-size       12px
            text-transform  uppercase

        tr:hover
            background-color white

    tbody
        flex      1 1 auto
        display   flex
        flex-direction column
        overflow  auto

    tr
        display         flex
        flex-direction  row
        align-items     center
        flex            0 0 auto
        width           100%
        border-bottom   1px solid grey-09

        &:hover
            background-color grey-10

    td, th
        box-sizing  border-box
        padding     1em 2rem
        font-size   14px
        flex 1 0 auto

    @media (max-width: (1024/basefont)rem)
        tr
            max-width  100vw

    @media (max-width: (768/basefont)rem)
        thead
            display none

        tbody
            max-height  100%
            font-size 0.8em

        td
            padding 1em 1rem

    .coz-table-td-with-icon
        background-repeat no-repeat
        padding-left calc(3rem + 32px)
        background-position 2rem
        background-size 32px
        text-transform uppercase

        @media (max-width: (768/basefont)rem)
            padding-left calc(1.5rem + 26px)
            background-position 1rem
            background-size 26px
