.Pin__button
    border-radius 100%
    width 4rem
    height 4rem
    margin 1rem
    display inline-flex
    align-items center
    justify-content center
    color white
    background-color rgba(255, 255, 255, 0)
    transition background-color 0.3s ease
    font-size 1.5rem
    border 0
    text-transform uppercase

.Pin__button:active, .Pin__button:focus 
    background-color rgba(255, 255, 255, 0.25)
    cursor pointer

.PinKeyboard
    align-items center
    justify-content center
    display flex
    flex-direction row
    flex-wrap wrap
    max-width 300px
    margin auto

.PinWrapper
    background var(--primaryColor)
    width 100vw
    height 100vh
    z-index 100
    position fixed
    display flex
    justify-content center
    flex-direction column
    top 0
    bottom 0
    left 0
    right 0

.Pin__dots
    font-size 2rem

.Pin__text
    color var(--primaryContrastTextColor)
    text-align center
    
.Pin__error
    background var(--pomegranate)
    color var(--primaryContrastTextColor)
    margin .5rem
    padding .5rem
    border-radius .5rem
    display inline-block
