.Round
    border-radius 100%
    width 4rem
    height 4rem
    margin 1rem
    display inline-flex
    align-items center
    justify-content center
    color white
    background rgba(0, 0, 0, 0.25)
    font-size 1.5rem
    border 0

.Round:active, .Round:focus 
    background rgba(0, 0, 0, 0.5)

.PinKeyboard
    align-items center
    justify-content center
    display flex
    width 100%
    flex-direction row
    flex-wrap wrap

.PinWrapper
    background var(--primaryColor)
    width 100vw
    height 100vh
    z-index 10000
    position absolute
    display flex
    justify-content center
    flex-direction column
    top 0
