.Round
    border-radius 100%
    width 4rem
    height 4rem
    margin 1rem
    display inline-flex
    align-items center
    justify-content center
    color white
    background rgba(0, 0, 0, 0.25)
    font-size 1.5rem


.Pin
    background var(--primarycolor)

