@require '~components/SelectDates/SelectDates.styl'
@require 'settings/breakpoints'

.bnk-cat-page
    +small-screen()
        // SelectDate is fixed on mobile so we need to add some
        // padding
        padding-top select-date-height-small
