@import 'cozy-ui'

.bnk-cat-top
    display         flex
    flex-direction  row
    flex-wrap wrap

    .bnk-cat-form
        flex-basis 50%

        .bnk-cat-filter
            padding 2rem 0
            > span
                margin-right 1em
            > label
                font-size 0.8em
                position absolute
                line-height 24px

    .bnk-cat-figure
        flex-basis 50%

@media (max-width: (768/basefont)rem)
    .bnk-cat-top

        .bnk-cat-form
            flex-basis 100%

            .bnk-cat-filter
                padding 1rem 0

        .bnk-cat-figure
            flex-basis 100%
