@require 'settings/breakpoints'

.CategoriesHeader
    display flex
    justify-content space-between
    align-items flex-start
    flex-shrink 0

    +small-screen()
        flex-direction column
        align-items flex-start

.CategoriesHeader__Toggle
    > span
        margin-right 1em
    > label
        font-size .8em
        position absolute
        line-height 1.5rem

    +small-screen()
        padding-top 0

    &.default
        padding-top 2rem

        +small-screen()
            padding-top 0

    &.primary
        padding-top 1rem
        color var(--primary-contrast-text)

.CategoriesHeader__Breadcrumb
    margin-top 2.375rem
