@require 'tools/mixins'
@require 'settings/breakpoints'

.bnk-chart-pie
    margin 0.75rem auto
    canvas
        max-width 100%
        margin auto

+small-screen()
    .bnk-chart-pie
        margin-top 0
